<!DOCTYPE html>
<html>

<head>
  <title>Login Form</title>
  <!-- <link rel="stylesheet" href="./UIStyle.css">
  <link rel="stylesheet" href="./UIControls.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='UIStyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='UIControls.css') }}">
</head>

<body>
  <h1>Login Form</h1>
  <div class="login-form">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
  </div>
  
  <h1>Uploaded Images:</h1>
  <ul>
    {% for image in images %}
      <li>{{ image }}</li>
      <li><img src="{{ url_for('serve_image', filename=image) }}" alt="{{ image }}"></li>
    {% endfor %}
  </ul>


</body>

</html>