/* Image container                                                    */
div.imgContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  height: 150px;
  /* overflow: auto; */
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  scrollbar-width: none;
}

div.imgContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

div.imgContainer>img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

div.center {
  text-align: center;
}

label.fileFab {
  background-color: var(--highlight-color-focus);
  width: 60px;
  height: 60px;
  padding: 0px;
  margin: 10px auto;
  font-size: 50px;
  border-radius: 30px;
  background-color: var(--base-accent-color);
  /* color: var(--base-color-text); */
  color: var(--contrast-color-text);
}

label.fileFab:hover {
  font-size: 50px;
  background-color: var(--highlight-color-focus);
}

input[type="file"] {
  display: none;
}

/* Progress bar                                                       */
div.progressBar {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--max-width-elements);
  height: 16px;
  background-color: var(--background-color);
  border: solid 1px var(--highlight-color);
  border-radius: 20px;
  box-shadow: 0px 0px 3px var(--base-accent-color);
}

div.progressElem {
  box-sizing: border-box;
  width: 70%;
  height: 14px;
  background-color: var(--base-accent-color);
  border-radius: 8px;
  box-shadow: 0px 0px 3px var(--base-accent-color);
}

/* Chip                                                               */
div.chip {
  display: inline;
  box-sizing: border-box;
  width: auto;
  height: 24px;
  font-size: 16px;
  /* margin: auto; */
  padding: 0px 10px;
  border-radius: 12px;
  background-color: var(--base-accent-color);
  box-shadow: 0px 0px 3px var(--base-accent-color);
  color: var(--contrast-color-text);

  font-family: "Truculenta", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 800;
}

/* Game content                                                       */
div.gameContentTwoSide {
  width: 100%;
  max-width: var(--max-width-elements);
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

/* Ridllebox                                                          */
div.riddleBox {
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
  max-width: var(--max-width-elements);
  margin: 10px;
  padding: 16px;
  background-color: var(--module-background-color);

  font-family: "Merienda", cursive;
  font-size: 20px;
  font-weight: 300;
}

/* Game buttons                                                       */
div.buttonBox {
  margin: 10px;
}

div.stickBottom input[type="button"] {
  box-sizing: border-box;
  display: inline-block;
  width: 48%;
  height: 40px;
  font-size: 14px;
  padding: 0px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  border: none;
  background-color: var(--base-accent-color);
  color: var(--base-color-text);
  transition: border-radius 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 3px var(--base-accent-color);
  color: var(--contrast-color-text);

  font-family: "Truculenta", sans-serif;
  font-size: 22px;
  font-optical-sizing: auto;
  font-weight: 800;
}

div.stickBottom input[type="button"]:hover {
  background-color: var(--highlight-color-focus);
}

div.stickBottom {
  position: absolute;
  height: 10px;
  bottom: 60px;
  right: 0;
  left: 0;
  text-align: center;
  max-width: var(--max-width-elements);
  margin: auto;
}

/* Header                                                             */
h1,
h2 {
  color: var(--base-color-text);
}
