:root {
  --main-font-family: Arial, sans-serif;

  --background-color: rgb(22,12,47);
  --module-background-color: rgb(175, 159, 255);
  --base-accent-color: rgb(251,205,71) ; /*button color*/
  --base-color-text: white;
  --highlight-color: rgb(99, 99, 51); /*element border*/
  --highlight-color-focus: rgb(96, 86, 153); /*button hover*/
}