:root {
  --main-font-family: NunitoSemiBold;

  --max-width-elements: 500px;

  --background-color: rgb(22, 12, 48);
  --module-background-color: rgb(175, 160, 255);
  --base-accent-color: rgb(250, 205, 70);
  /*button color*/
  --base-color-text: white;
  --contrast-color-text: --background-color;
  --highlight-color: rgb(100, 100, 50);
  /*element border*/
  --highlight-color-focus: rgb(95, 85, 150);
  /*button hover*/
}