<!DOCTYPE html>
<html>

<head>
  <title>Create game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0" />

  <link rel="stylesheet" href="../static/UIControls.css">
  <link rel="stylesheet" href="../static/UIStyle.css">
  <link rel="stylesheet" href="../static/UIElements.css">
</head>

<body>
  <div class="centerContent">
    <div class="heading-container">
      <h1 id="game-id-label">Game ID: AAA-BBB</h1>
    </div>
    
    <div class="login-form">
      <form method="post">
        <label>Duration:</label>
        <input type="text" id="duration" name="duration" value="10">
        <label>Treasure count:</label>
        <input type="text" id="treasureCount" name="treasureCount" value="3">
        <label>Uploaded photos:</label>

        <div class="imgContainer">
          <label class="fileFab">
            <span class="material-symbols-outlined">add_a_photo</span>
            <input type="file" accept="image/*" onchange="handleFileUpload(event)" />
          </label>
        </div>

        <input type="button" id="startButton" value="Start game">
      </form>
    </div>
  </div>

</body>

<script>
const uploadedFiles = [];
durationInput = document.getElementById('duration');
treasureCountInput = document.getElementById('treasureCount');

const user = localStorage.getItem('user');
const room = localStorage.getItem('room');

document.querySelector('#game-id-label').innerText = `Room ${room}`;

function startGame(event) {
	// Creating new FormData instance
	let formData = new FormData();
	formData.append("request", 'start_game');
	formData.append("user", user);
	formData.append("room", room);
	formData.append("duration", durationInput.value);
	formData.append("treasure_count", treasureCountInput.value);

	// Append files to formData
	for (let index = 0; index < uploadedFiles.length; index++) {
		formData.append("file" + index, uploadedFiles[index]);
	}

	fetch("/backend/start_game", {
		method: "POST",
		body: formData
	})
		.then(response => response.json())
		.then((data) => {
			print(data.riddle);
			localStorage.setItem('riddle', data.riddle);
			localStorage.setItem('duration', durationInput.value);
			localStorage.setItem('treasureCount', treasureCountInput.value);
			window.location.href = "/game";
		})
		.catch((errdata) => {
			console.log(errdata);
		});
}

function handleFileUpload(event) {
	const file = event.target.files[0];
	const imgContainer = document.querySelector('.imgContainer');

	const reader = new FileReader();
	reader.onload = function (e) {
		const img = document.createElement('img');
		img.src = e.target.result;
		img.alt = 'Image';
		imgContainer.prepend(img);
	};

	reader.readAsDataURL(file);

	//Saving the actual File object
	uploadedFiles.push(file);
}

function createJS() {
	const loginButton = document.getElementById("startButton");
	loginButton.addEventListener("click", startGame);
}

createJS();
</script>

</html>
