<!DOCTYPE html>
<html>

<head>
  <title>My game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/UIControls.css">
  <link rel="stylesheet" href="../static/UIStyle.css">
  <link rel="stylesheet" href="../static/UIElements.css">
</head>

<body>
  <div class="centerContent">

    <div class="gameContentTwoSide">
      <div class="chip" id="timeLeft"> Time: 10:00 </div>
      <div class="chip" id="riddlesSolvedCnt"> 7/10 </div>
    </div>

    <div class="progressBar">
      <div class="progressElem"></div>
    </div>

    <div>
      <div class="heading-container">
        <h2>Riddle</h2>
      </div>
      <div class="riddleBox" id="riddleBox">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis repellat, explicabo excepturi provident odit
        labore atque consequatur, vero dolore autem iusto. Omnis amet delectus itaque vel eaque sint?
      </div>
    </div>

    <div class="heading-container stickBottom">
      <input type="button" id="skipButton" value="Skip">
      <input type="button" id="guessButton" value="Guess">
      <input type="file" id="fileInput" style="display: none" onchange="uploadFile()" />
    </div>
  </div>

  <div id="popupBox" class="popup">
    <div class="popupBoxContent">
      <span id="popupBoxClose">&times;</span>
      <p id="popupBoxText">Popup message box</p>
    </div>
  </div>

</body>

<script>
  const user = localStorage.getItem('user');
  const room = localStorage.getItem('room');
  const duration = localStorage.getItem('duration');
  const treasureCount = localStorage.getItem('treasureCount');
  const progressElem = document.querySelector('.progressElem');
  const riddleBox = document.getElementById('riddleBox');
  const riddlesSolvedCnt = document.getElementById('riddlesSolvedCnt');
  const timeLeft = document.getElementById('timeLeft');

  let countdown;
  let time = duration * 60;
  let currentRiddle = 1.0;

  function incrRiddle(newRiddle) {
	++currentRiddle;
	if (currentRiddle <= treasureCount) {
	  riddleBox.innerText = newRiddle;
	  updateUIProgress();
	} else {
	  window.location.href = "/leaderboard";
	}
  }

  function makeGuess(event) {
	document.getElementById('fileInput').click();
  }

  function uploadFile() {
    let fileInput = document.getElementById('fileInput');
    let file = fileInput.files[0];
    if (file) {
      let formData = new FormData();
      formData.append('file', file);
      formData.append('user', user);
      formData.append('room', room);

	  fetch('/backend/guess', {
		method: 'POST',
		body: formData
	  })
		.then((response) => response.json())
		.then((data) => {
		  if (data.is_correct) {
			incrRiddle(data.riddle);
		  }
		})
	}
  }

  function skipRiddle(event) {
	fetch("/backend/skip_riddle", {
	  method: "POST",
	  headers: { "Content-Type": "application/json; charset=UTF-8" },
	  body: JSON.stringify({ request: "skip", user: user, room: room })
	})
	  .then(response => response.json())
	  .then((data) => {
		incrRiddle(data.riddle);
	  })
  }

  function updateUIProgress() {
    progressElem.style.width = `${currentRiddle / treasureCount * 100}%`;
    riddlesSolvedCnt.innerText = `${currentRiddle}/${treasureCount}`;
  }

  function joinGame() {
	fetch("/backend/join_game", {
	  method: "POST",
	  headers: { "Content-Type": "application/json; charset=UTF-8" },
	  body: JSON.stringify({ request: "join_game", user: user, room: room })
	})
	  .then(response => response.json())
	  .then((data) => {
		riddleBox.innerText = data.riddle;
	  })
  }

  function gameJS() {
    const guessButton = document.getElementById("guessButton");
    const skipButton = document.getElementById("skipButton");
    guessButton.addEventListener("click", makeGuess);
    skipButton.addEventListener("click", skipRiddle);

    joinGame();
    updateUIProgress();
    startTimer();
  }

  function startTimer() {
    countdown = setInterval(updateTimer, 1000);
  }

  function updateTimer() {
    const minutes = Math.floor(time / 60);
    const seconds = time % 60;

    timeLeft.innerText = `Time: ${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;

    if (time <= 0) {
      clearInterval(countdown);
    } else {
      time--;
    }
  }

  gameJS();

</script>

<script>
  // PopupBox
  function displayPopup(text) {
    popupBoxText.innerHTML = text;
    document.getElementById("popupBox").style.display = "block";
  }

  document.getElementById("popupBoxClose").onclick = function () {
    document.getElementById("popupBox").style.display = "none";
  }

  window.onclick = function (event) {
    if (event.target == document.getElementById("popupBox")) {
      document.getElementById("popupBox").style.display = "none";
    }
  }

  // displayPopup("You failed, try again!");
</script>

</html>
