<!DOCTYPE html>
<html>

<head>
  <title>Login Form</title>
  <!-- <link rel="stylesheet" href="./UIStyle.css">
  <link rel="stylesheet" href="./UIControls.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='UIStyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='UIControls.css') }}">
</head>

<body>
  <h1>Login Form</h1>
  <div class="send-image-and-encode">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
  </div>  

  <body>
    <button id="sendClientData">Send Data</button>

    
    
    <script>
      document.getElementById("sendClientData").addEventListener("click", function() {
    console.log("sendClientData clicked")
    var data = {
        user: "{{ session['user'] }}", 
        room: "{{ session['room'] }}", 
        current_riddle: "{{ session['current_riddle'] }}" ,
        riddle_count: "{{ session['riddle_count'] }}"
    };

    // Send data to the server
    fetch("/send-user-data", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error("Network response was not ok");
        }
        return response.json();
    })
    .then(data => {
        console.log("Server response:", data);
        // Handle the response from the server if needed
    })
    .catch(error => {
        console.error("There was a problem with the fetch operation:", error);
        // Handle errors if any
    });
});
    </script>
</body>

  <h1>Uploaded Images:</h1>
  <ul>
    {% for image in images %}
      <li>{{ image }}</li>
      <li><img src="{{ url_for('serve_image', filename=image) }}"></li>
    {% endfor %}
  </ul>


</body>

</html>