<!DOCTYPE html>
<html>

<head>
  <title>Start</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/UIControls.css">
  <link rel="stylesheet" href="../static/UIStyle.css">
  <link rel="stylesheet" href="../static/UIElements.css">
</head>

<body>
  <div class="centerContent">
    <div class="heading-container">
      <h1>Name</h1>
    </div>

    <!-- TODO: make disabled look differently -->
    <div class="login-form">
      <form method="post">
        <label>Username:</label>
        <input type="text" id="username" name="username" required>
        <input type="button" id="joinButton" value="Join game" disabled>
        <input type="button" id="createButton" value="Create game" disabled>
      </form>
    </div>
  </div>
</body>

<script src="../static/newGame.js"></script>
</html>
