<!DOCTYPE html>
<html>

<head>
  <title>Loc8r</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/UIControls.css">
  <link rel="stylesheet" href="../static/UIStyle.css">
  <link rel="stylesheet" href="../static/UIElements.css">
  <link rel="stylesheet" href="../static/UIStyle3Dbox.css">
</head>

<body>
  <div class="centerContent">
    <div class="heading-container">
      <h1>You Win !!!</h1>
      <h2>You collected all clues!</h2>

      <div class="scene">
        <div class="cube">
          <div class="chest-_face chest-_face--front">
            <svg class="logoSVG" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <rect fill="#fff" stroke="#000" stroke-width="3" opacity="0.5" x="0" y="0" width="200" height="200" />
            </svg>
          </div>

          <div class="chest-_face">
            <span class="chestContentSideL">&#11088;</span>
            <span class="chestContent">&#11088;</span>
            <span class="chestContentSideR">&#11088;</span>
          </div>

          <div class="chest-_face chest-_face--back">
            <svg class="logoSVG" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <rect fill="#fff" stroke="#000" stroke-width="3" opacity="0.5" x="0" y="0" width="200" height="200" />
            </svg>
          </div>
          <div class="chest-_face chest-_face--right"> <svg class="logoSVG" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <rect fill="#fff" stroke="#000" stroke-width="3" opacity="0.5" x="0" y="0" width="200" height="200" />
            </svg></div>
          <div class="chest-_face chest-_face--left"> <svg class="logoSVG" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <rect fill="#fff" stroke="#000" stroke-width="3" opacity="0.5" x="0" y="0" width="200" height="200" />
            </svg></div>
          <div class="chest-_face chest-_face--bottom"> <svg class="logoSVG" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <rect fill="#fff" stroke="#000" stroke-width="3" opacity="0.5" x="0" y="0" width="200" height="200" />
            </svg></div>

          <div class="chest-_face chest-_face--top"> <svg class="logoSVG" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <rect fill="#fff" stroke="#000" stroke-width="3" opacity="0.5" x="0" y="0" width="200" height="200" />
            </svg></div>

          <div class="chest-_face chest-_face--left cube-sideboxL"> <svg class="logoSVG" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <rect fill="#fff" stroke="#000" stroke-width="3" opacity="0.5" x="0" y="0" width="200" height="200" />
            </svg></div>

          <div class="chest-_face chest-_face--right cube-sideboxR"> <svg class="logoSVG" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <rect fill="#fff" stroke="#000" stroke-width="3" opacity="0.5" x="0" y="0" width="200" height="200" />
            </svg></div>

          <div class="chest-_face chest-_face--left cube-sideboxLL">
            <svg class="logoSVG" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <path fill="#fff" stroke="#000" stroke-width="3" opacity="0.5" d="M 0 200 L 75 0 L 125 0 L 200 200 Z">
              </path>
            </svg>
          </div>

          <div class="chest-_face chest-_face--left cube-sideboxRR">
            <svg class="logoSVG" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <path fill="#fff" stroke="#000" stroke-width="3" opacity="0.5" d="M 0 200 L 75 0 L 125 0 L 200 200 Z">
              </path>
            </svg>
          </div>

        </div>
      </div>
    </div>

    <div class="heading-container stickBottom">
      <input type="button" id="skipButton" value="Leaderboard">
    </div>
</body>

</html>