<!DOCTYPE html>
<html>

<head>
  <title>My game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/UIElements.css">
  <link rel="stylesheet" href="../styles/UIControls.css">
  <link rel="stylesheet" href="../styles/UIStyle.css">
</head>

<body>
  <div class="centerContent">
    <div class="heading-container">
      <h1>My game</h1>
    </div>

    <div class="gameContentTwoSide">
      <div class="chip"> Time: 10:00 </div>
      <div class="chip"> 7/10 </div>
    </div>

    <div class="progressBar">
      <div class="progressElem"></div>
    </div>

    <div>
      <div class="heading-container">
        <h2>Riddle</h2>
      </div>
      <div class="riddleBox">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis repellat, explicabo excepturi provident odit labore atque consequatur, vero dolore autem iusto. Omnis amet delectus itaque vel eaque sint? Praesentium, quidem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum iure unde quia, odit fugit labore quis! Cumque dignissimos consequuntur, ullam explicabo consequatur dolorum perferendis, tempore laudantium dicta incidunt temporibus alias?
      </div>
    </div>

    <div class="heading-container stickBottom">
      <input type="button" value="Skip">
      <input type="button" value="Guess">
    </div>
  </div>

</body>

</html>